html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

header {
  display: contents;
  position: relative;
}

.pano {
}

.logo {
  position: absolute;
  top: 67%;
  right: 77%;
  width: 14rem;
}

body {
  margin: 0;
  display: grid;
}
