html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #f2f1ed;
  display: grid;
  grid-template-areas:
    "header"
    "figure";
}

img {
  width: 100%;
}

header {
  display: contents;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-area: header;
}

.pano {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  padding: 1rem;
}

.banner {
  grid-column: 1;
  grid-row: 1;
}

.logo {
  width: 14rem;
  grid-column: 1;
  grid-row: 4;
  z-index: 1;
}

nav {
  grid-column: 3 / -1;
  grid-row: 1;
  padding-right: 3rem;
}

nav ul {
  display: flex;
  list-style-type: none;
  text-align: center;
  font-family: "Patua One", sans-serif;
}

li a {
  color: #fff;
  font-size: 2em;
  margin: 1rem;
}

main {
  margin: 1rem;
  margin-top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  grid-area: figure;
}

figure {
  margin: 0;
  padding-top: 0;
}

h2 {
  color: #30658d;
  font-family: "Patua One", sans-serif;
  margin: 0;
}

p {
  margin: 0;
}

figcaption {
  padding: 1rem;
}
